.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #333;
  color: #333;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem 1rem;
}

.inputs {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-left: 2rem;
  position: relative;
  font-size: 1rem;
}

.questionInput {
  width: 100%;
  height: 2rem;
  outline: none;
  border-radius: none;
  padding: 0 .5rem;
}

.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 0 .5rem;
  border: solid 1px #333;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  top: 2rem;
  left: 24rem;
  border: solid 1px #333;
  background-color: #fff;
  width: 20rem;
}

.dropdownContent ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropdownContent li {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .8rem;
  cursor: pointer;
  padding: 0rem .5rem;
}
.dropdownContent li:hover {
  background-color: #d3d3d3;
}

.icon {
  font-size: 1rem;
  color: #333;
}
.actionBtns {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nextquestion {
  margin-left: 2rem;
  background-color: #00bf6f;
  padding: 0rem 1.5rem;
  color: #fff;
  width: 10rem;
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.savencancel {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}