.container {
  width: 60%;
  height: 90%;
  padding: 1rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.name {
  color: #00bf6f;
  padding: 1rem;
}

.name:hover {
  background-color: #333;
  cursor: pointer;
}