.container {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.container:hover {
  background-color: pink;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.choices {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}